<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="1.0.1" package="com.xp.wx.hd">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="android.support.multidex.MultiDexApplication" android:allowBackup="true" android:supportsRtl="true" android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name="com.xp.wx.frontend.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="com.xp.api.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.xp.wx.frontend.MainActivityAlias" android:targetActivity="com.xp.wx.frontend.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <provider android:name="com.xp.wx.frontend.PrefProvider" android:exported="true" android:authorities="com.xp.wx.hd.preferences"/>
        <provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:authorities="com.xp.wx.hd.files" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="@string/app_desc"/>
        <meta-data android:name="xposedminversion" android:value="89"/>
        <receiver android:name="com.xp.wx.middleware.ActionReceiver" android:exported="true">
            <intent-filter>
                <action android:name="action.heart"/>
                <action android:name="action.delete.tinker"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.jiongbull.jlog.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.jiongbull.jlog.receiver.LogReceiver"/>
        <service android:name="com.jiongbull.jlog.service.LogService"/>
    </application>
</manifest>
