<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="15" android:versionName="1.0.5" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.wujieshuju.huidou" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="com.google.android.things"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/huidou_logo_transparent" android:name="com.wujieshuju.huidou.HDApp" android:allowBackup="true" android:supportsRtl="true" android:extractNativeLibs="false" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/huidou_logo_transparent" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:name="com.wujieshuju.huidou.p031ui.fragment.usercenter.ManualsFragment"/>
        <activity android:theme="@style/NoActionBarTheme" android:label="@string/app_name" android:name="com.wujieshuju.huidou.p031ui.activity.SplashActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wujieshuju.huidou.p031ui.activity.ForgetPasswordActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/FullscreenTheme" android:name="com.wujieshuju.huidou.p031ui.activity.LoadingActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/FullscreenTheme" android:name="com.wujieshuju.huidou.p031ui.activity.LoginActivity" android:launchMode="singleTop"/>
        <activity android:name="com.wujieshuju.huidou.p031ui.activity.SignUpActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.wujieshuju.huidou.p031ui.activity.MainActivity" android:launchMode="singleTop"/>
        <activity android:name="com.wujieshuju.huidou.p031ui.activity.CommonFragmentActivity" android:launchMode="singleTop"/>
        <service android:name="com.wujieshuju.huidou.server.RemoteService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.wujieshuju.huidou.server.RemoteService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.jiongbull.jlog.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.jiongbull.jlog.receiver.LogReceiver"/>
        <service android:name="com.jiongbull.jlog.service.LogService"/>
    </application>
</manifest>
